@page
@model CesiCompanyDirectory.Pages.Services


@{
    ViewData["Title"] = "Services Management";
}

@if (User.IsInRole("Admin"))
{
    <h1>Service</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var service in Model.AllService)
        {
            <tr>
                <td>@service.Name</td>
                <td><a asp-page="./UpdateDeleteService" asp-route-serviceId="@service.Id" class="btn btn-warning">Edit/Delete</a></td>
            </tr>
        }
        </tbody>
    </table>

    <div class="d-flex justify-content-end mb-4">
        <a asp-page="./AddService" class="btn btn-success">Add New Service</a>
    </div>
}