@page
@model CesiCompanyDirectory.Pages.Sites
@{
    ViewData["Title"] = "Site Management";
}

@if (User.IsInRole("Admin"))
{
    <h1>Site</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var site in Model.AllSite)
        {
            <tr>
                <td>@site.Name</td>
                <td>@site.City</td>
                <td><a asp-page="./UpdateDeleteSite" asp-route-siteId="@site.Id" class="btn btn-warning">Edit/Delete</a></td>
            </tr>
        }
        </tbody>
    </table>

    <div class="d-flex justify-content-end mb-4">
        <a asp-page="./AddSite" class="btn btn-success">Add New Site</a>
    </div>
}